### ikebana (gh-pages) ###
lib

# Created by http://www.gitignore.io

### SASS ###
### Sass Ignores - "Sassy CSS" http://sass-lang.com/
*.sass-cache

### Node ###
node_modules

### Operating system ###
.DS_Store
Thumbs.db

### IDE ###
*.sublime*

### Ruby ###
.bundle
