### ikebana (master) ###
doc
dist
web

# Created by http://www.gitignore.io

### SASS ###
### Sass Ignores - "Sassy CSS" http://sass-lang.com/
*.sass-cache

### Node ###
node_modules
npm-debug.log

### Operating system ###
.DS_Store
Thumbs.db

### IDE ###
*.sublime*

### Ruby ###
.bundle

### Bower ###
bower_components
