/*doc
---
title: <%= name %>
name: <%= name %>
Category: <%= name %>
version: <%= pkg.version %>
link: <%= pkg.url %>
license: <%= pkg.license %>
---

The following demo shows sample usages of <%= name %>.

```html_example
<!--
  TODO Add demo HTML for <%= name %>.
  For example,
  <div class="<%= name %>">
    ...
  </div>
-->
```
*/

// TODO Add <%= name %>'s style
