<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Test <%= name %> - <%= pkg.name %></title>
    <meta name="description" content="Test for <%= name %> - <%= pkg.name %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/<%= name %>.css">
  </head>
  <body>
    <h1><%= name %></h1>
    <p>Add your component's contents here and get live reload support.</p>

    <script src="../../../bower_components/jquery/jquery.js"></script>
    <script src="js/<%= name %>.js"></script>
  </body>
</html>
